*.pyc
__pycache__/
.pytest_cache/
.env
pig.py
pig2.py
pig3.py
pig4.py
# Node
node_modules/
dist/
.venv/
logs/
# Moving to polyrepo: ignore all changes under extensions, even for already tracked files
extensions/**